.navBar {
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  height: 12vh;
}

.navBarTitle {
  font-size: 3vh;
}

.mainImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}

.footer {
  background-color: saddlebrown;
  display: flex;
  justify-content: space-evenly;
}
